@utility container-padding {
  @pply  px-7 md:px-9 xl:px-16 mx-auto
}

@layer utilities {
  .bg-hero-gradient {
    background: linear-gradient(180deg, #D8E5F0 0%, #D7E4F1 25%, #D4E3F0 50%, #D4E4F3 75%, #D2E5F3 100%);
  }

  .section-bg-color-top {
    background: radial-gradient(116.23% 53.08% at 22.23% 10%, #8DD6F6 0%, rgba(235, 249, 255, 1) 100%),
      radial-gradient(85.76% 52.59% at 89.26% 15%, #BADAFE 14.6%, rgba(235, 249, 255, 0) 99.04%),
      radial-gradient(42.07% 30.44% at 8.28% 20%, #EBF9FF 10.24%, rgba(235, 249, 255, 0) 89.89%),
      radial-gradient(12.72% 53.23% at 5.47% 4.29%, rgba(235, 249, 255, 0.7) 0%, rgba(235, 249, 255, 0) 100%),
      radial-gradient(34.06% 41.96% at 94.73% 8%, #EBF9FF 26.92%, rgba(235, 249, 255, 0) 100%),
      radial-gradient(71.95% 42.17% at 50% 12%, #FFFFFF 13.4%, rgba(235, 249, 255, 0) 100%);
  }
  .section-bg-color-bottom {
    background: radial-gradient(116.23% 53.08% at 22.23% 90%, #8DD6F6 0%, rgba(235, 249, 255, 1) 100%),
      radial-gradient(85.76% 52.59% at 89.26% 85%, #BADAFE 14.6%, rgba(235, 249, 255, 0) 99.04%),
      radial-gradient(42.07% 30.44% at 8.28% 95%, #EBF9FF 10.24%, rgba(235, 249, 255, 0) 89.89%),
      radial-gradient(12.72% 53.23% at 5.47% 92%, rgba(235, 249, 255, 0.7) 0%, rgba(235, 249, 255, 0) 100%),
      radial-gradient(34.06% 41.96% at 94.73% 88%, #EBF9FF 26.92%, rgba(235, 249, 255, 0) 100%),
      radial-gradient(71.95% 42.17% at 50% 90%, #FFFFFF 13.4%, rgba(235, 249, 255, 0) 100%);
  }
}